.card-body .model-summary-container .sumary-circle-stat {
  width: 90px;
}

.card-body .model-summary-container .sumary-circle-stat h6 {
  color: #57595e;
  font-size: 14px;
}

.card-body .model-detail-info h5 {
  font-size: 16px;
  color: #575962;
}

.card-body .model-detail-info h3 {
  font-size: 18px;
  color: #57595e;
}

.card-body .model-detail-dataset-table {
  color: #575962;
}
